<footer class="footer text-dark mt-auto py-3" style="background-color: #f0f0f0;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span>&copy; <span id="year"></span> Arsen Zhamshitov SE-2203</span>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="" class="link-primary text-decoration-none me-2">Privacy Policy</a>
                <a href="" class="link-primary text-decoration-none">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>

<script>
  document.getElementById('year').textContent = new Date().getFullYear();
</script>
